asgiref==3.8.1
cachetools==5.5.0
dj-database-url==0.5.0
Django==4.2.17
django-oauth-toolkit==3.0.1
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gunicorn==20.1.0
httplib2==0.22.0
jwcrypto==1.5.6
oauthlib==3.2.2
pillow==11.1.0
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.1
python-dotenv==1.0.1
requests-oauthlib==2.0.0
rsa==4.9
sib-api-v3-sdk==7.6.0
sqlparse==0.5.3
whitenoise==6.5.0
