{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Testimonials{% endblock %}

{% block content %}
<h1>Testimonials</h1>
<div id="testimonials-container" class="testimonials">
    {% for testimonial in testimonials %}
        <div class="testimonial{% if forloop.counter0|divisibleby:2 %} reverse{% endif %}">
            {% if testimonial.image %}
                <img src="{{ testimonial.image.url }}" alt="{{ testimonial.company }}" class="testimonial-img">
            {% endif %}
            <div class="testimonial-content">
                <p>{{ testimonial.text }} - {{ testimonial.service_month }} {{ testimonial.service_year }}</p>
                <p>{{ testimonial.name.split|first }} at</p>
                <h3>{{ testimonial.company }}</h3>
                <div class="recommendation">
                    {% if testimonial.recommend == 'yes' %}
                        &#10003; Would recommend
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="arrow" onclick="showMoreTestimonials()">></div>

<script>
function showMoreTestimonials() {
    // Optional: Implement logic to show more testimonials if needed
}
</script>

{% endblock %}
