{% extends 'base_generic.html' %}
{% load static %}

<head>
    <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

{% block title %}Booking{% endblock %}

{% block content %}
<h1>Booking</h1>
<p>Please see this calendar for availability information:</p>
<div id="calendar">
    <!-- Fallback content -->
    <p id="loading-message">Loading calendar...</p>
</div>
{% endblock %}

<!-- Include your bundled JavaScript file -->
<script src="{% static 'bundle.js' %}"></script>
<script src="{% static 'scripts.js' %}"></script>
