{% extends 'base_generic.html' %}
{% load static %}

<head>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- jQuery UI CSS -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

{% block title %}Booking{% endblock %}

{% block content %}
<h1>Booking</h1>
<p>Please see this calendar for availability information:</p>
<div id="calendar">
    <!-- Fallback content -->
    <p>Loading calendar...</p>
</div>
{% endblock %}

<!-- jQuery and jQuery UI -->
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"
  integrity="sha256-9zljDKpE/mQxmaR4V2cGVaQ7arF3CcXxarvgr7Sj8Uc="
  crossorigin="anonymous"></script>
<!-- Include your bundled JavaScript file -->
<script src="{% static 'bundle.js' %}"></script>
